<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdvisorLink - Login</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./JS/Script.js"></script>
   
</head>
<header>
    <img src="https://my.aacsb.edu/Portals/0/assets/images/contact/Prince%20Sultan%20Univeristy.png" width="180" >
 <div class="header-container">
    
    <div class="logo">
    
        <span class="logo-icon">🎓</span>
        <span class="logo-text">AdvisorLink</span>
    </div> 
</div>
</header>
<body>
    
    <div class="container">
        <div class="login-container">
            
               
            
            <h1>Login</h1>
            
            <% if (message) { %>
            <div class="error-message"><%= message %></div>
            <% } %>
            <form id="login-form" action="/login" method="POST">
                <div class="form-group">
                    <label for="user-type">User Type</label>
                    <select id="user-type" name="user-type" required>
                        <option value="">Select User Type</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Login</button>
                <a href="https://myaccount.psu.edu.sa/authorization.do">Forgot password?</a>
            </form>
            
            <div class="edugate-links">
                <h2>Links</h2>
                <ul>
                    <li><a href="https://www.psu.edu.sa/en">PSU Website</a></li>
                    <li><a href="https://www.psu.edu.sa/en/academiccalendar">Academic Calendar</a></li>
                    <li><a href="https://edugate.psu.edu.sa/psu/init">Edugate</a></li>
                    <li><a href="https://lms.psu.edu.sa/">Moodle</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>